<h1>
  Home Page
</h1>

<%= link_to 'Microblog', articles_path %>
<%= link_to 'About', pages_about_path %>
<br>

<%= link_to image_tag('shimindigginose.jpg'), 'https://instagram.fsin2-1.fna.fbcdn.net/vp/bd420b19eede255a4f1eb8281e13429e/5BBC60D0/t51.2885-19/s320x320/13298026_890655481060073_2075058646_a.jpg' %>

